body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 64px;
}

#today {
  display:flex;
  justify-content: center;
  padding-top: 1rem;
  font-size: 1.75rem;
}

#currentDay {
  margin-bottom: 0;
  margin-left: 1rem;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  font-weight: 600;
  border-top: 1px dashed #000000;
  padding-top: 2rem;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #77dd77;
  color: white;
}

.future {
  background-color: #a5eba5;
  color: black;
}

.saveBtn {
  padding-top: 2rem;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 525px) {
  .hour {
    font-size: 75%;
    text-align: left;
    padding-left: 0.25rem;
  }
}